@page
@model Dandara.Views.Home.cadastroprodutosModel
@{
}

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dandara </title>
    <link href="~/images/favicon.ico" rel="icon">

    <!-- Fonte-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wgh@400;700&display=swap" rel="stylesheet">


    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Bootstrap-->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/cadastro.css" rel="stylesheet">

  


</head>

<div class="container text-center" style="margin-top: 150px;margin-bottom: 10px;">
</div>


<body>

    <div class="header">
        <!-- navegador-->
        <nav class="navbar shadow-sm bg-white rounded navbar-expand-lg navbar-light">

            <div class="container-fluid ">

                <a class="navbar-brand mx-5" href="#">
                    <img src="~/images/logo.svg" alt="" width="90" height="72">
                </a>

                <button class="navbar-toggler mx-5 navbar-dark bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item mx-1">
                            <a class="nav-link active" aria-current="page"asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="sobre">Sobre</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="contato">Contato</a>
                        </li>

                    </ul>

                    <a class="d-flex">

                        <a class="perfil" href="#"></a>
                        <div class="btn-group-vertical">
                            <div class="btn-group">

                                <button type="button" class="btn" data-bs-toggle="dropdown">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                </button>


                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="Index">Sair</a></li>

                                </ul>


                            </div>
                        </div>
                    </a>


                    <a class="carrinho" style="color: black;" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart-fill mx-3" viewBox="0 0 16 16" width="25" height="25">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </a>


                    <a class="lupa" style="color: black;" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search mx-3" viewBox="0 0 16 16" width="25" height="25">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </a>
                    </a>

                </div>

            </div>
    </div>
    </nav>
    </header>




    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">

            <div class="col-md-5 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="~/images/mulhernegra.jpg"><span class="font-weight-bold">****Nome****</span><span class="text-black-50">***email@mail.com***</span><span> </span></div>
            </div>

            <div class="col-md-7 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Cadastro de Produtos</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Nome</label><input type="text" class="form-control" placeholder="Nome" value=""></div>
                        <div class="col-md-12"><label class="labels">Preço</label><input type="text" class="form-control" placeholder="Preço" value=""></div>
                        <div class="col-md-12"><label class="labels">Moeda</label><input type="text" class="form-control" placeholder="Moeda" value=""></div>
                        <div class="col-md-12"><label class="labels">Condições de Pagamento</label><input type="text" class="form-control" placeholder="Condições de Pagamento" value=""></div>
                        <div class="col-md-12"><label class="labels">Condições de Entrega</label><input type="text" class="form-control" placeholder="Condições de Entrega" value=""></div>
                        <div class="col-md-12"><label class="labels">Video dos Produto</label><input type="text" class="form-control" placeholder="Video dos Produto" value=""></div>
                        <div class="col-md-12"><label class="labels">Foto dos Produto</label><input type="text" class="form-control" placeholder="Foto dos Produto" value=""></div>
                        <div class="col-md-12"><label class="labels">Tamanhos</label><input type="text" class="form-control" placeholder="Tamanhos" value=""></div>
                        <div class="col-md-12"><label class="labels">Cores</label><input type="text" class="form-control" placeholder="Cores" value=""></div>
                        <div class="col-md-12"><label class="labels">Descrição do Produto</label><input type="text" class="form-control" placeholder="Descrição do Produto" value=""></div>
                        <div class="col-md-12"><label class="labels">Categoria A</label><input type="text" class="form-control" placeholder="Categoria A" value=""></div>
                        <div class="col-md-12"><label class="labels">Categoria B</label><input type="text" class="form-control" placeholder="Categoria B" value=""></div>
                        <div class="col-md-12"><label class="labels">Categoria C</label><input type="text" class="form-control" placeholder="Categoria C" value=""></div>
                        <div class="col-md-12"><label class="labels">Categoria D</label><input type="text" class="form-control" placeholder="Categoria D" value=""></div>
                        <div class="col-md-12"><label class="labels">Categoria E</label><input type="text" class="form-control" placeholder="Categoria E" value=""></div>
                        <div class="col-md-12"><label class="labels">Categoria F</label><input type="text" class="form-control" placeholder="Categoria F" value=""></div>
                        <div class="col-md-12"><label class="labels">Categoria G</label><input type="text" class="form-control" placeholder="Categoria G" value=""></div>
                        <div class="col-md-12"><label class="labels">Data de Validade</label><input type="text" class="form-control" placeholder="Data de Validade" value=""></div>
                        <div class="col-md-12"><label class="labels">Contato do Vendedor</label><input type="text" class="form-control" placeholder="Contato do Vendedor" value=""></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-warning" type="button">SaLvar</button></div>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>

    <div class="container text-center" style="margin-top: 100px;">
    </div>


    <!-- Footer -->
    <footer class="text-center text-lg-start text-white"
            style="background-color: #795c34">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">

                        <img src="~/images/logo.svg" alt="" width="120" height="102" style="margin-bottom: 10px;">

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            links Úteis
                        </h6>
                        <p>
                            <a class="text-white" href="Index">Home</a>
                        </p>
                        <p>
                            <a class="text-white" href="sobre">Sobre</a>
                        </p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contato</h6>
                        <p><i class="fas fa-home mr-3"></i> Bahia, Brasil</p>
                        <p><i class="fas fa-envelope mr-3"></i> dandaraapreta@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 00 000 000 00</p>
                        <p><i class="fas fa-phone mr-3"></i> + 00 000 000 00</p>

                    </div>
                    <!-- Grid column -->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-3">

            <!-- Section: Copyright -->
            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">
                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <!-- Copyright -->
                        <div class="p-3">
                            © 2021 Copyright:
                            <a class="text-white" href="#">Squad 38</a>
                        </div>
                        <!-- Copyright -->
                    </div>


                    <!-- Grid column -->
                </div>
            </section>
            <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
    </footer>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/js/java.js"></script>
</body>

</html>
