@page
@model Dandara.Views.Home.IndexblogModel
@{
}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Blog Dandara</title>
    <link href="./images/favicon.ico" rel="icon">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wgh@400;700&display=swap" rel="stylesheet">


    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  


    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./css/blog.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">

                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="#">Dandara</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="link-secondary" href="#" aria-label="Search">

                    </a>

                </div>
            </div>
        </header>


    </div>

    <main class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Conecte ao seu eu</h1>
                <p class="lead my-3">A mudança não virá se esperarmos por outra pessoa ou outros tempos. Nós somos aqueles por quem estávamos esperando. Nós somos a mudança que procuramos..</p>
                <p class="lead mb-0"><a href="https://www.bing.com/search?q=historia+africana+na+bvrasil&cvid=fc113b8062da45e98bfada1c049fb026&aqs=edge..69i57.10143j0j1&pglt=43&PC=U531&first=11&FORM=PERE" class="text-white fw-bold" target="_blank">Continue lendo...</a></p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Mundo</strong>
                        <h3 class="mb-0">Invenções importantes feitas por homens negros</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">Selecionamos 5 invenções articuladas por homens pretos. Conheça!</p>

                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffff" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"><a href="https://negre.com.br/4-invencoes-importantes-feitas-por-homens-negros/" class="stretched-link" target="_blank">Continue lendo</a></text></svg>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Design</strong>
                        <h3 class="mb-0">Conheça a moda africana</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="mb-auto">Você já pensou quais as tendências que possuem influência da cultura africana?</p>

                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffff" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"> <a href="https://stealthelook.com.br/a-influencia-da-cultura-afro-na-moda-brasileira/" class="stretched-link " target="_blank">Continue lendo</a></text></svg>

                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Unidade é força, divisão é fraqueza
                </h3>

                <article class="blog-post">
                    <h2 class="blog-post-title">Cultura africana</h2>
                    <p class="blog-post-meta">January 1, 2021 by <a href="https://www.faecpr.edu.br/site/portal_afro_brasileira/2_VI.php" target="_blank">Conheça</a></p>

                    <p>O continente africano possui uma grande variedade de línguas, costumes e religiões. Trajes pinturas corporais, tecidos e adornos.</p>
                    <hr>
                    <p>
                        A vestimenta das mulheres africanas baseia-se, em grande parte, em panos ou cangas que enrolam no corpo como vestidos, cangas, capulanas, etc. São belos tecidos cuja padronagem e acabamentos são reconhecidos mundialmente. Os africanos, mais do que ninguém, falam através de seus panos.
                        Eu ando mais rápido do que minha rival, meu marido é capaz e seu pé, meu pé são algumas das expressões ditas por meio das famosas estampas figurativas impressas nos tecidos feitos naquele continente, principalmente em locais como Gana, Benin, Togo e Costa do Marfim (todos com a mesma matriz linguística e cultural, a Akan).
                    </p>

                    <blockquote class="blockquote">
                        <p>
                            <strong>
                                <h2>
                                    Por que ensinar a história da África
                                    e do negro no Brasil de hoje?
                                </h2>
                            </strong>
                        </p>
                    </blockquote>
                    <p>
                        O Brasil oferece o melhor exemplo de um país
                        que nasceu do encontro das diversidades étnicas e culturais. Povos indígenas, primeiros habitantes da terra que se
                        tornou Brasil; aventureiros e colonizadores portugueses;
                        africanos deportados e aqui escravizados; imigrantes europeus de diversas origens étnicas e culturais e imigrantes
                        asiáticos, todos formam as raízes culturais do Brasil de hoje.
                        Sem dúvida, os sangues se misturaram como continuam a se
                        misturar <a href="https://www.scielo.br/j/rieb/a/WxGPWdcytJgSnNKJQ7dMVGz/?format=pdf" target="_blank">....continue lendo</a>
                    </p>

                    <h2>Viagem </h2>
                    <p>
                        Museus, quilombos e outros locais que celebram a cultura africana e a resistência à escravidão
                        Dia da Consciência Negra, celebrado todo 20 de novembro, homenageia o líder do Quilombo dos Palmares, Zumbi, símbolo da resistência negra no Brasil e morto nessa data por tropas coloniais brasileiras no ano de 1695. A data é feriado em diversos estados e cidades, como Rio e São Paulo.

                        Na África, países como Gana apostam na ancestralidade para atrair turistas

                        O Quilombo dos Palmares, que chegou a ter 30 mil habitantes e resistiu a diversos ataques durante os seus mais de 100 anos de existência, ficava na Serra da Barriga, no estado de Alagoas, e é hoje pertencente ao município de União dos Palmares. O Parque Memorial Quilombo dos Palmares criado ali, que inclui a Serra da Barriga, foi reconhecido como Patrimônio Cultural do Mercosul e tombado pelo Instituto do Patrimônio Histórico e Artístico Nacional (Iphan) <a href="https://oglobo.globo.com/boa-viagem/museus-quilombos-outros-locais-que-celebram-cultura-africana-a-resistencia-escravidao-1-24089508" target="_blank">....continue lendo</a>.
                    </p>
                    <h3>30 LUGARES ESSENCIAIS DE CULTURA NEGRA NO BRASIL</h3>
                    <p>Você já parou para pensar quantos lugares de cultura negra você já visitou? Ir a roteiros com influências africanas no Brasil e conhecer um pouco mais da história fazem parte da valorização da cultura negra em um país em que 54% da população se autodeclara negra e é considerado o segundo maior país de população negra do mundo, atrás apenas da Nigéria. A lista que preparamos reúne igrejas, museus, quilombos, centros culturais e espaços ligados à memória e valorização da cultura negra. Confira.</p>
                    <p>
                        São Paulo
                        <h1><strong>Igreja de Nossa Senhora da Boa Morte</strong></h1>
                        <br>
                        A Igreja Nossa Senhora da Boa Morte foi construída em 1728 pela Irmandade dos Homens Pardos de Nossa Senhora da Boa Morte. Nela, pela primeira vez, negros e brancos sentaram-se lado a lado em uma igreja de São Paulo. Esse nome se deve ao hábito de escravos condenados à morte no Largo da Forca (hoje conhecido como Largo da Liberdade) de entrarem na igreja para pedir uma boa morte à Nossa Senhora. Rua Tabatinguera, 301, Liberdade, São Paulo.
                    </p>
                    <img src="./images/igreja.png" alt="">
                    <p>
                        <h1><strong>Igreja de Nossa Senhora do Rosário dos Homens Pretos</strong></h1>
                        A Igreja Nossa Senhora do Rosário dos Homens Pretos foi erguida em 1906 no Largo do Paissandu e, até hoje, os trabalhos são conduzidos pela Irmandade de Nossa Senhora do Rosário dos Homens Pretos, que há mais de 300 anos luta pela preservação e resgate da cultura negra e seus direitos e construiu igrejas em diferentes cidades brasileiras. Em 1995, foi instalada ao lado da igreja a estátua da Mãe Preta, uma referência às Amas de Leite. A cada dois meses é realizada uma missa afro na qual são feitas oferendas com milho, batata doce, feijão, pipoca etc., e os cânticos entoados ao som dos atabaques. Largo do Paissandu, s/n (no início da avenida São João).
                    </p>
                    <p>
                        <h1><strong>Museu Afro Brasil </h1></strong>
                        Inaugurado em 2004, o museu tem como intuito promover o reconhecimento, a valorização e a preservação do patrimônio cultural africano e afro-brasileiro, além da presença na cultura e na sociedade brasileira. As exposições são ancoradas em três eixos: arte, história e memória. O acervo aborda temas como religião, trabalho, arte, diáspora africana e a escravidão, registrando também a trajetória histórica e as influências africanas na construção da sociedade brasileira. Rua Pedro Álvares Cabral, s/n (portão 10) – Parque Ibirapuera. De 3ª a domingo, das 10h às 17h. Ingresso: R$ 6. Gratuito aos sábados.
                        <a href="https://revistatrip.uol.com.br/trip/uma-selecao-de-lugares-importantes-para-cultura-negra-brasileira-que-voce-precisa-conhecer-no-brasil" target="_blank">continue lendo a reportagem</a>

                    </p>
                </article>


                <nav class="blog-pagination" aria-label="Pagination">
                    <a class="btn btn-outline-primary" href="#">Older</a>
                    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
                </nav>

            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">Sobre</h4>
                        <p class="mb-0">Esse blog tem como objetivo ser um canal para a cultura afro, moratrando um pouco sobre historia, viagens</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Arquivos</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="#">novembro 2021</a></li>
                            <li><a href="#">Dezembro 2021</a></li>

                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Siga-nos</h4>
                        <ol class="list-unstyled">
                            <li><a href="https://www.instagram.com/dandararecode/" target="_blank">Instagram</a></li>
                            <li><a href="https://twitter.com/dandaraapreta" target="_blank">Twitter</a></li>
                            <li><a href="https://www.facebook.com/profile.php?id=100076700063369" target="_blank">Facebook</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="blog-footer">
        <p>Blog construido por Dandara e-commerce <a href="https://getbootstrap.com/">Dandara</a> por <a href="https://twitter.com/mdo">Squad 38</a>.</p>
        <p>
            <a href="#">Voltar para cima</a>
        </p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>

